absl-py
attrs
dataframe_image
idna
imageio
matplotlib
mpyq
numpy
pbr
Pillow
pluggy
portpicker
probscale
protobuf
py
pygame
pyparsing
pytablewriter
pytest
python-dateutil
PyYAML==5.3.1
requests
sacred
scipy
seaborn
six
sk-video
snakeviz
tensorboard-logger
# torch==2.3.0
tornado
urllib3
websocket-client
whichcraft
wrapt